<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlkeIU3cjD3h_Roli16KXSUgFkPfq8_NM</string>
	<key>GCM_SENDER_ID</key>
	<string>143544336485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosappdevelopent.UpCyclization</string>
	<key>PROJECT_ID</key>
	<string>upcyclization</string>
	<key>STORAGE_BUCKET</key>
	<string>upcyclization.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143544336485:ios:966460372e74746a7d868c</string>
</dict>
</plist>